.services {
  width: 85%;
  margin: auto;
  padding-bottom: 50px;
}

.services .one-service {
  text-align: center;
  padding: 5px;
  padding-top: 20px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.services .one-service:hover {
  background: #edf5f8;
}

.services .one-service img {
  -o-object-fit: cover;
     object-fit: cover;
}

.services .one-service .comment-area {
  text-align: center;
  padding-top: 19px;
}

.services .one-service .comment-area h2 {
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.services .one-service .comment-area p {
  width: 70%;
  margin: auto;
  padding-bottom: 12px;
  padding-top: 10px;
  font-weight: 400;
  color: grey;
}

.services .for-bor-1 {
  border-right: 1px solid #c9c7c7;
  border-bottom: 1px solid #c9c7c7;
}

.services .for-bor-2 {
  border-bottom: 1px solid #c9c7c7;
}

.services .for-bor-3 {
  border-left: 1px solid #c9c7c7;
  border-bottom: 1px solid #c9c7c7;
}

.services .for-bor-4 {
  border-right: 1px solid #c9c7c7;
}

.services .for-bor-6 {
  border-left: 1px solid #c9c7c7;
}

.building {
  width: 85%;
  margin: auto;
  padding-top: 50px;
}

.building .left {
  padding-top: 20px;
}

.building .left h5 {
  color: #979797;
  padding-bottom: 5px;
}

.building .left h1 {
  width: 90%;
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 10px;
}

.building .left p {
  width: 90%;
  color: #979797;
  font-size: 19px;
  padding-bottom: 30px;
}

.building .left a {
  text-decoration: none;
  color: white;
  background-color: #571F9C;
  padding: 18px 40px;
}

.building .right {
  padding-top: 20px;
  border: 13px solid #571F9C;
  position: relative;
  width: 100%;
  height: 500px;
}

.building .right img {
  position: absolute;
  width: 100%;
  top: 40px;
  right: 40px;
  -webkit-box-shadow: 2px 7px 17px 1px grey;
          box-shadow: 2px 7px 17px 1px grey;
}

.gallery {
  padding-top: 40px;
}

.gallery .gallery-head {
  text-align: center;
  padding-top: 10px;
}

.gallery .gallery-head h4 {
  color: #b3b3b3;
}

.gallery .gallery-head h1 {
  font-size: 56px;
  padding-bottom: 50px;
}

.gallery .all-gallery .one-item {
  position: relative;
  overflow: hidden;
}

.gallery .all-gallery .one-item:hover #ihov1 {
  -webkit-animation: anime-ico .6s ease-in-out forwards;
          animation: anime-ico .6s ease-in-out forwards;
}

.gallery .all-gallery .one-item:hover #ihov2 {
  -webkit-animation: anime-ico .6s ease-in-out forwards;
          animation: anime-ico .6s ease-in-out forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.gallery .all-gallery .one-item:hover .blue-line1 {
  top: -40px;
  right: 80px;
}

.gallery .all-gallery .one-item:hover .blue-line2 {
  top: -40px;
  right: 40px;
}

.gallery .all-gallery .one-item:hover .blue-line3 {
  top: -120px;
  right: 80px;
}

.gallery .all-gallery .one-item:hover .blue-line4 {
  top: -120px;
  right: 110px;
}

.gallery .all-gallery .one-item:hover .comment {
  top: 100px;
}

.gallery .all-gallery .one-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .all-gallery .one-item .comment {
  position: absolute;
  top: 290px;
  left: 20px;
  color: white;
  border-left: 3px solid white;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.gallery .all-gallery .one-item .comment h2 {
  padding-left: 9px;
}

.gallery .all-gallery .one-item .comment p {
  padding-left: 9px;
}

.gallery .all-gallery .one-item .for-ico {
  position: absolute;
  top: 15px;
  left: 23px;
  font-size: 20px;
}

.gallery .all-gallery .one-item .for-ico i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 11px;
  color: white;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

.gallery .all-gallery .one-item .for-ico i:hover {
  background: white;
  color: #571F9C;
}

.gallery .all-gallery .one-item .blue-line1 {
  position: absolute;
  width: 600px;
  height: 600px;
  background: #571F9C;
  top: -40px;
  right: 610px;
  opacity: .4;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.gallery .all-gallery .one-item .blue-line2 {
  position: absolute;
  width: 600px;
  height: 600px;
  background: #571F9C;
  top: -40px;
  right: 570px;
  opacity: .4;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.gallery .all-gallery .one-item .blue-line3 {
  position: absolute;
  width: 600px;
  height: 600px;
  background: #571F9C;
  top: -120px;
  right: 570px;
  opacity: .4;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.gallery .all-gallery .one-item .blue-line4 {
  position: absolute;
  width: 600px;
  height: 600px;
  background: #571F9C;
  top: -120px;
  right: 510px;
  opacity: .4;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.blog {
  padding-bottom: 20px;
}

.blog .gallery-head {
  text-align: center;
  padding-top: 50px;
}

.blog .gallery-head h4 {
  color: #b3b3b3;
}

.blog .gallery-head h1 {
  font-size: 56px;
  padding-bottom: 50px;
}

.blog .one-blog img {
  width: 100%;
}

.blog .one-blog .comment p {
  color: #a1a1a1;
  font-size: 16px;
  font-weight: 300;
}

.blog .one-blog .comment p i {
  padding: 0px 2px;
}

.blog .one-blog .comment h4 {
  font-size: 20px;
  font-weight: 500;
}

.blog .one-blog .comment h6 {
  color: #a1a1a1;
  font-weight: 400;
  font-size: 19px;
  padding-bottom: 15px;
}

.blog .one-blog .comment .forbut {
  position: relative;
}

.blog .one-blog .comment .forbut #up {
  position: absolute;
  left: 20px;
  top: 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 30px;
  color: #571F9C;
  opacity: 0;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.blog .one-blog .comment .forbut:hover a {
  background-color: #571F9C;
  color: white;
}

.blog .one-blog .comment .forbut:hover #base {
  padding-left: 5px;
  opacity: 0;
}

.blog .one-blog .comment .forbut:hover #up {
  top: -20px;
  opacity: 1;
}

.blog .one-blog .comment .forbut a {
  text-decoration: none;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 30px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.blog .one-blog .comment .forbut a:hover {
  margin-left: 10px;
}

.blog .one-blog .comment .forbut #base {
  padding-top: 13px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  padding-left: -5px;
}

@-webkit-keyframes anime-ico {
  from {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes anime-ico {
  from {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=good.css.map */